.name{
    animation: upDown 2s linear infinite;
}
@keyframes upDown {
    0%{
        transform: translateY(0);
    }50%{
        transform: translateY(5px);
    }100%{
        transform: translateY(0);
    }
}
