.name{
    animation: upDown 2s linear infinite;
}
@keyframes upDown {
    0%{
        transform: translateY(0);
    }50%{
        transform: translateY(5px);
    }100%{
        transform: translateY(0);
    }
}
@media (max-width:1200px) {
    .text svg{
        width: 350px;
    }
    
}
@media (max-width:1024px) {
    .text svg{
        width: 450px;
    }
    
}
@media (max-width:768px) {
    .text svg{
        width: 300px;
    }
    
}
