.icon {
    opacity: 0;
  animation: upShift  0.5s ease forwards
}

@keyframes upShift {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.icon svg {
    width: 30px;
    height: auto;


}
