.icon {
  opacity: 0;
  animation: upShift  0.5s ease forwards
}

@keyframes upShift {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.icon svg {
    width: 30px;
    height: auto;
}

.tooltip{
  opacity: 0;
}
.icon:hover .tooltip {
    animation: comeIn 0.3s ease forwards;
    z-index: -1;
}
@keyframes comeIn {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}